<%- include('_includes/header') %>
  <%- include('_includes/sidebar') %>
    <main id="main" class="main">
      <script src="/admin/assets/js/category.delete.js" defer></script>
      <div class="pagetitle">
        <h1>카테고리 관리</h1>
        <nav>
          <ol class="breadcrumb">
            <li class="breadcrumb-item">관리</li>
            <li class="breadcrumb-item active">삭제</li>
          </ol>
        </nav>
      </div><!-- End Page Title -->

      <section class="section dashboard">
        <div class="row">

          <!-- Large Category -->
          <div class="col-lg-4">
            <div class="row">
              <div class="col-12">
                <div class="card top-selling overflow-auto">
                  <div class="card-body pb-0">
                    <h5 class="card-title">대분류 <span style="font-size: 12px; color:red;">삭제 시 하위 분류가 모두 삭제됩니다.</span></h5>
                    <nav class="mb-3" style="--bs-breadcrumb-divider: '>';" id="largeCategory">
                      <span style="color: #B2B2B2;" id="largeNotData"><i>데이터가 존재하지 않습니다.</i></span>
                    </nav>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--  End Large Category -->

          <!-- Middle Category -->
          <div class="col-lg-4">
            <div class="row">
              <div class="col-12">
                <div class="card top-selling overflow-auto">
                  <div class="card-body pb-0">
                    <h5 class="card-title">중분류 <span style="font-size: 12px; color:red;">삭제 시 하위 분류가 모두 삭제됩니다.</span></h5>

                    <nav class="mb-3" style="--bs-breadcrumb-divider: '>';" id="middleCategory">
                      <span style="color: #B2B2B2;" id="middleNotData"><i>데이터가 존재하지 않습니다.</i></span>
                    </nav>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--  End Middle Category -->

          <!-- Small Category -->
          <div class="col-lg-4">
            <div class="row">
              <div class="col-12">
                <div class="card top-selling overflow-auto">
                  <div class="card-body pb-0">
                    <h5 class="card-title">소분류</h5>

                    <nav class="mb-3" style="--bs-breadcrumb-divider: '>';" id="smallCategory">
                      <span style="color: #B2B2B2;" id="smallNotData"><i>데이터가 존재하지 않습니다.</i></span>
                    </nav>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--  End Small Category -->
        </div>
      </section>

    </main><!-- End #main -->

    <%- include('_includes/footer') %>