<%- include('_includes/header') %> <%- include('_includes/sidebar') %>
<main id="main" class="main">
  <div class="pagetitle">
    <h1>카테고리 수정 페이지</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="index.html">Admin</a></li>
        <li class="breadcrumb-item active">카테고리 수정</li>
      </ol>
    </nav>
  </div>
  <!-- End Page Title -->

  <section class="section dashboard">
    <div class="row">
      <div class="col-lg-8">
        <div class="row">
          <div class="col-12">
            <div class="card top-selling overflow-auto">
              <div class="card-body pb-0">
                <h5 class="card-title">카테고리 (대)</h5>
                <ul id="largeCategoryList"></ul>
              </div>
            </div>
          </div>

          <div class="col-12">
            <div class="card top-selling overflow-auto">
              <div class="card-body pb-0">
                <h5 class="card-title">카테고리 (중)</h5>
                <ul id="middleCategoryList"></ul>
              </div>
            </div>
          </div>

          <div class="col-12">
            <div class="card top-selling overflow-auto">
              <div class="card-body pb-0">
                <h5 class="card-title">카테고리 (소)</h5>
                <ul id="smallCategoryList"></ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section dashboard">
    <div class="row">
      <!-- Left side columns -->
      <div class="col-lg-8">
        <div class="row">
          <!-- Top Selling -->

          <!-- 수정 모달 -->
          <div id="editModal" style="display: none" class="modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">카테고리 수정</h5>
                </div>
                <div class="modal-body">
                  <label>카테고리 이름 :</label>
                  <input id="editName" type="text" />
                </div>
                <div class="modal-footer">
                  <button type="button" id="cancelButton" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Close</button>
                  <button type="button" id="saveButton" class="btn btn-primary btn-sm">Save changes</button>
                </div>
              </div>
            </div>
          </div>

          <!-- End Top Selling -->
        </div>
      </div>
      <!-- End Left side columns -->
    </div>
  </section>
</main>
<!-- End #main -->
<script src="/admin/assets/js/category-edit.js" defer></script>

<%- include('_includes/footer') %>
