<%- include('_includes/header') %>
  <%- include('_includes/sidebar') %>
    <main id="main" class="main">

      <div class="pagetitle">
        <h1>카테고리 추가 페이지</h1>
        <nav>
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Admin</a></li>
            <li class="breadcrumb-item active">카테고리 추가</li>
          </ol>
        </nav>
      </div><!-- End Page Title -->

      <section class="section dashboard">
        <div class="row">

          <div class="col-lg-8">
            <div class="row">

              <div class="col-12">
                <div class="card top-selling overflow-auto">
                  <div class="card-body pb-0">
                    <h5 class="card-title">카테고리 (대)</h5>
                    <ul id="largeCategoryList"></ul>
                  </div>
                </div>
              </div>

              <div class="col-12">
                <div class="card top-selling overflow-auto">
                  <div class="card-body pb-0">
                    <h5 class="card-title">카테고리 (중)</h5>
                    <ul id="middleCategoryList"></ul>
                  </div>
                </div>
              </div>

              <div class="col-12">
                <div class="card top-selling overflow-auto">
                  <div class="card-body pb-0">
                    <h5 class="card-title">카테고리 (소)</h5>
                    <ul id="smallCategoryList"></ul>
                  </div>

                </div>
              </div>

            </div>
          </div>

          <!-- Right side columns -->
          <div class="col-lg-4">
            <div class="card">
              <div class="card-body pb-0">
                <h5 class="card-title">카테고리(대) 추가</h5>

                <div class="news">
                  <div class="post-item-large clearfix">
                    카테고리 이름 : <input>
                    <p class="largeCategoryAddBtn mt-3">
                      <a>➕ 추가하기</a>
                    </p>
                  </div>
                </div>
              </div>
            </div>

            <div class="card">
              <div class="card-body pb-0">
                <h5 class="card-title">카테고리(중) 추가</h5>

                <div class="news">
                  <div class="post-item-middle clearfix">
                    <div class="input-group mb-3">
                      <label class="input-group-text" for="inputGroupSelect01">상위 카테고리(대) 선택</label>
                      <select class="form-select" id="inputGroupSelect01">
                        <option selected>..</option>
                      </select>
                    </div>
                    카테고리 이름 : <input>
                    <p class="middleCategoryAddBtn mt-3">
                      <a>➕ 추가하기</a>
                    </p>
                  </div>
                </div>
              </div>
            </div>

            <div class="card">
              <div class="card-body pb-0">
                <h5 class="card-title">카테고리(소) 추가</h5>

                <div class="news">
                  <div class="post-item-small clearfix">
                    <div class="input-group mb-3">
                      <label class="input-group-text" for="inputGroupSelect01">상위 카테고리(중) 선택</label>
                      <select class="form-select" id="inputGroupSelect02">
                        <option selected>..</option>
                      </select>
                    </div>
                    카테고리 이름 : <input>
                    <p class="smallCategoryAddBtn mt-3">
                      <a>➕ 추가하기</a>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div><!-- End Right side columns -->

        </div>
      </section>

    </main><!-- End #main -->

    <%- include('_includes/footer') %>
      <script src="/admin/assets/js/category-add.js"></script>