<%- include('_includes/header') %> <%- include('_includes/sidebar') %>
<main id="main" class="main">
  <div class="pagetitle">
    <h1>회원 삭제 페이지</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="index.html">회원 관리</a></li>
        <li class="breadcrumb-item active">삭제</li>
      </ol>
    </nav>
  </div>
  <!-- End Page Title -->

  <!-- Basic table -->
  <div class="table-responsive">
    <table class="table member-table">
      <thead>
        <tr>
          <th>#</th>
          <th>이름</th>
          <th>이메일</th>
          <th>닉네임</th>
          <th>권한</th>
          <th></th>
        </tr>
      </thead>
      <tbody id="member-table-body">
        <!-- 회원 정보 -->
      </tbody>
    </table>
  </div>
</main>
<!-- End #main -->

<%- include('_includes/footer') %>
<script src="/admin/assets/js/member-delete.js"></script>
