<%- include('_includes/header') %>
  <%- include('_includes/sidebar') %>

    <main id="main" class="main">

      <div class="pagetitle">
        <h1>회원 추가 페이지</h1>
        <nav>
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">회원 관리</a></li>
            <li class="breadcrumb-item active">추가</li>
          </ol>
        </nav>
      </div><!-- End Page Title -->

    </main><!-- End #main -->

    <%- include('_includes/footer') %>
      <script src="/admin/assets/js/member-add.js"></script>