<%- include('_includes/header') %> <%- include('_includes/sidebar') %>
<link rel="stylesheet" media="screen" href="/main/css/theme.min.css" />
<main id="main" class="main">
  <div class="pagetitle">
    <h1>상품 수정 페이지</h1>
  </div>
  <!-- End Page Title -->

  <!-- Content-->
  <section class="col-lg-8 pt-lg-4 pb-4 mb-3">
    <div class="pt-2 px-4 ps-lg-0 pe-xl-5">
      <!-- Title-->
      <div class="d-sm-flex flex-wrap justify-content-between align-items-center pb-2">
        <h2 class="h3 py-2 me-2 text-center text-sm-start">상품 수정</h2>
        <div class="py-2" style="display: flex">
          <select class="form-select me-2" id="unp-category-large">
            <option value="0">카테고리 선택</option>
          </select>
          <select class="form-select me-2" id="unp-category-middle">
            <option value="0">카테고리 선택</option>
          </select>
          <select class="form-select me-2" id="unp-category-small">
            <option value="0">카테고리 선택</option>
          </select>
        </div>
      </div>
      <form>
        <div class="mb-3 pb-2">
          <label class="form-label" for="unp-product-name">제목</label>
          <!-- 제목 -->
          <input class="form-control" type="text" id="unp-product-name" required />
          <div class="form-text">최대 100자. HTML 또는 이모티콘 사용 불가.</div>
        </div>
        <div class="file-drop-area mb-3">
          <div class="file-drop-icon ci-cloud-upload"></div>
          <span class="file-drop-message">Drag and drop here to upload product screenshot</span>
          <!-- 이미지 -->
          <input class="file-drop-input" multiple type="file" id="imageUpload" />
          <button class="file-drop-btn btn btn-primary btn-sm mb-2" type="button">파일 선택</button>
          <div class="form-text">1000 x 800px ideal size for hi-res displays</div>
        </div>
        <div id="imagePreview" style="display: flex; justify-content: center"></div>
        <div class="mb-3 py-2">
          <label class="form-label" for="unp-product-description">자세한 설명</label>
          <!-- 본문 content -->
          <textarea class="form-control" rows="6" id="unp-product-description" required></textarea>
          <div class="bg-secondary p-3 fs-ms rounded-bottom">
            <span class="d-inline-block fw-medium me-2 my-1">Markdown supported:</span><em class="d-inline-block border-end pe-2 me-2 my-1">*Italic*</em
            ><strong class="d-inline-block border-end pe-2 me-2 my-1">**Bold**</strong><span class="d-inline-block border-end pe-2 me-2 my-1">- List item</span
            ><span class="d-inline-block border-end pe-2 me-2 my-1">##Heading##</span><span class="d-inline-block">--- Horizontal rule</span>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6 mb-3">
            <label class="form-label" for="unp-standard-price">가격</label>
            <div class="input-group">
              <span class="input-group-text">&#x20A9;</span>
              <input class="form-control" type="text" id="unp-standard-price" required />
            </div>
          </div>
        </div>
        <button id="product-upload-button" class="btn btn-primary d-block w-100" type="submit"><i class="ci-cloud-upload fs-lg me-2"></i>작성 완료</button>
      </form>
    </div>
  </section>
</main>

<script src="/admin/assets/js/product-edit.js" defer></script>
<%- include('_includes/footer') %>
