<!-- Footer-->
<footer class="footer bg-dark">
    <!-- Second row-->
    <div class="container">
        <hr class="hr-light mb-3">
        <div class="d-md-flex justify-content-between pt-4">
            <div class="pb-4 fs-xs text-light opacity-50 text-center text-md-start">© All rights reserved. Made by <a
                    class="text-light"><b><u>내일배움캠프 Node B반 7조</u></b></a></div>
            <div class="widget widget-links widget-light pb-4">
                <ul id="boardList" class="widget-list d-flex flex-wrap justify-content-center justify-content-md-start">
                    <!-- <li class="widget-list-item ms-4"><a class="widget-list-link fs-ms" href="#">공지사항</a></li>
                    <li class="widget-list-item ms-4"><a class="widget-list-link fs-ms" href="#">1:1 문의</a></li> -->
                </ul>
            </div>
        </div>
    </div>
</footer>
<!-- Toolbar for handheld devices (Marketplace)-->
<div class="handheld-toolbar">
    <div class="d-table table-layout-fixed w-100"><a class="d-table-cell handheld-toolbar-item"
            href="dashboard-favorites.html"><span class="handheld-toolbar-icon"><i class="ci-heart"></i></span><span
                class="handheld-toolbar-label">Favorites</span></a><a class="d-table-cell handheld-toolbar-item"
            href="javascript:void(0)" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
            onclick="window.scrollTo(0, 0)"><span class="handheld-toolbar-icon"><i class="ci-menu"></i></span><span
                class="handheld-toolbar-label">Menu</span></a><a class="d-table-cell handheld-toolbar-item"
            href="marketplace-cart.html"><span class="handheld-toolbar-icon"><i class="ci-cart"></i><span
                    class="badge bg-primary rounded-pill ms-1">3</span></span><span
                class="handheld-toolbar-label">$56.00</span></a></div>
</div>
<!-- Back To Top Button--><a class="btn-scroll-top" href="#top" data-scroll><span
        class="btn-scroll-top-tooltip text-muted fs-sm me-2">Top</span><i class="btn-scroll-top-icon ci-arrow-up">
    </i></a>
<!-- Vendor scrits: js libraries and plugins-->
<script src="/main/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="/main/vendor/simplebar/dist/simplebar.min.js"></script>
<script src="/main/vendor/tiny-slider/dist/min/tiny-slider.js"></script>
<script src="/main/vendor/smooth-scroll/dist/smooth-scroll.polyfills.min.js"></script>
<!-- Main theme script-->
<script src="/main/js/theme.min.js"></script>
<script src="/main/js/board-footer.js"></script>
</body>

</html>