<section class="viewed-products">
    <button type="button" class="btn-viewed-products" readonly="">
        <i class="fa fa-sort-desc" aria-hidden="true" style="padding-right: 1px"></i>
        최근 본상품
    </button>
    <ul id="viewedProductList">
        <li>
            <a href="">
                <img src="" alt="" />
            </a>
        </li>
    </ul>
    <div id="noViewedProducts" style="display: none;">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRGcMilDMuU95gfdiY5Am-pCwrvyx0dLlZNYmLiv0v42OHmdryacO6VMAKmeaNQiSM2eFA&usqp=CAU" width="28" height="16" alt="빈 최근본상품 아이콘"><br>
        최근에 본<br>상품이<br>없습니다.
    </div>

</section>
