<%- include('_includes/header') %>
<div class="container py-5 mb-lg-3">
  <div class="row justify-content-center pt-lg-4 text-center">
    <div class="col-lg-5 col-md-7 col-sm-9"><img class="d-block mx-auto mb-5" src="/main/img/pages/404.png" width="340" alt="404 Error">
      <h3 class="h5 fw-normal mb-4">보여드릴 페이지가 없어요 :(</h3>
      <p class="fs-md mb-4">
        도움이 필요하신가요? 아래의 제안사항을 확인해보세요!
      </p>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-xl-8 col-lg-10">
      <div class="row">
        <div class="col-sm-4 mb-3"><a class="card h-100 border-0 shadow-sm" href="/">
            <div class="card-body">
              <div class="d-flex align-items-center"><i class="ci-home text-primary h4 mb-0"></i>
                <div class="ps-3">
                  <h5 class="fs-sm mb-0">홈으로 이동하기</h5><span class="text-muted fs-ms">여기를 클릭해보세요!</span>
                </div>
              </div>
            </div></a></div>
        <div class="col-sm-4 mb-3"><a class="card h-100 border-0 shadow-sm" href="/mypage">
            <div class="card-body">
              <div class="d-flex align-items-center"><i class="ci-user text-success h4 mb-0"></i>
                <div class="ps-3">
                  <h5 class="fs-sm mb-0">내 정보가 궁금하시다면!</h5><span class="text-muted fs-ms">마이페이지로 이동합니다.</span>
                </div>
              </div>
            </div></a></div>
        <div class="col-sm-4 mb-3"><a class="card h-100 border-0 shadow-sm" href="/login">
            <div class="card-body">
              <div class="d-flex align-items-center"><i class="ci-unlocked text-info h4 mb-0"></i>
                <div class="ps-3">
                  <h5 class="fs-sm mb-0">로그인이 필요하세요?</h5><span class="text-muted fs-ms">로그인 페이지로 이동합니다.</span>
                </div>
              </div>
            </div></a></div>
      </div>
    </div>
  </div>
</div>
</main>
<%- include('_includes/footer') %>