<%- include('_includes/header') %>
<main>
  <div class="page-title-overlap bg-accent pt-4">
    <div class="container d-flex flex-wrap flex-sm-nowrap justify-content-center justify-content-sm-between align-items-center pt-2">
      <div class="d-flex align-items-center pb-3">
        <div class="img-thumbnail rounded-circle position-relative flex-shrink-0" style="width: 6.375rem">
          <img class="rounded-circle" src="/main/img/logo-dark.png" alt="Createx Studio" />
        </div>
        <div class="ps-3">
          <h3 class="text-light fs-lg mb-0">나중애</h3>
          <span class="d-block text-light fs-ms opacity-60 py-1">나의 중고 애물단지 - 중고거래 플랫폼</span>
        </div>
      </div>
    </div>
  </div>
  <div class="container mb-5 pb-3">
    <div class="bg-light shadow-lg rounded-3 overflow-hidden">
      <div class="row">
        <%- include('_includes/member-sidebar') %>
        <!-- Content-->
      </div>
    </div>
  </div>
</main>
<script src="/main/js/account-management.js" defer></script>
<%- include('_includes/footer') %>
