<%- include('_includes/header') %>
<main>
  <div class="page-title-overlap bg-accent pt-4">
    <div class="container d-flex flex-wrap flex-sm-nowrap justify-content-center justify-content-sm-between align-items-center pt-2">
      <div class="d-flex align-items-center pb-3">
        <div class="img-thumbnail rounded-circle position-relative flex-shrink-0" style="width: 6.375rem">
          <img class="rounded-circle" src="/main/img/logo-dark.png" alt="Createx Studio" />
        </div>
        <div class="ps-3">
          <h3 class="text-light fs-lg mb-0">나중애</h3>
          <span class="d-block text-light fs-ms opacity-60 py-1">나의 중고 애물단지 - 중고거래 플랫폼</span>
        </div>
      </div>
    </div>
  </div>
  <div class="container mb-5 pb-3">
    <div class="bg-light shadow-lg rounded-3 overflow-hidden">
      <div class="row">
        <!-- Content-->
        <section class="col-lg-8 pt-2 pt-lg-4 pb-4 mb-3">
          <div class="pt-2 px-4 pe-lg-0 ps-xl-5">
            <!-- Header-->
            <div class="d-flex flex-wrap justify-content-between align-items-center border-bottom pb-3">
              <div class="py-1"><a class="btn btn-outline-accent btn-sm" href="/account/management"><i
                    class="ci-arrow-left me-1 ms-n1"></i>계좌 관리</a></div>
            </div>
            <div class="p-4 h-100 ms-auto border-start">
              <div class="px-lg-2">
                <div class="text-center mb-4 pb-3 border-bottom">
                  <h2 class="h6 mb-3 pb-1">본인 인증</h2>
                  <div class="needs-validation pb-2">
                    <div class="mb-3">
                      <input id="nameIpt" class="form-control" type="text" placeholder="이름" required="">
                      <div class="invalid-feedback">이름을 입력하세요.</div>
                    </div>
                    <div class="mb-3">
                      <input id="telIpt" class="form-control" type="text" placeholder="010-0000-0000" required="">
                      <div class="invalid-feedback">휴대폰 번호를 입력하세요.</div>
                    </div>
                    <div class="mb-3">
                      <input id="resistNumber" class="form-control" type="text" placeholder="주민등록번호 ex : 000000-0000000"
                        required="">
                      <div class="invalid-feedback">주민등록번호를 입력하세요.</div>
                    </div>
                    <div id="codeBox" class="mb-3" style="display: none;">
                      <input id="codeIpt" class="form-control" type="text" placeholder="인증번호 입력">
                      <button class="btn btn-outline-secondary ms-2" type="button" id="identityVerifyBtn">인증 확인</button>
                    </div>
                    <button id="identifyBtn" class="btn btn-secondary d-block w-100" type="submit">본인확인요청</button>
                  </div>
                </div>
                <div class="px-lg-2">
                  <div class="text-center mb-4 pb-3 border-bottom">
                    <h2 class="h6 mb-3 pb-1">계좌 정보 입력</h2>
                    <div class="needs-validation pb-2">
                      <div class="needs-validation pb-2">
                        <div class="mb-3">
                          <input id="accountNumItp" class="form-control" type="text"
                            placeholder="계좌번호 ex : 000000-00-000000" required="">
                          <div class="invalid-feedback">계좌를 입력하세요.</div>
                        </div>
                        <div class="mb-3">
                          <input id="accountPasswordIpt" class="form-control" type="password" placeholder="계좌 비밀번호"
                            required="">
                          <div class="invalid-feedback">계좌 비밀번호를 입력하세요.</div>
                        </div>

                        <div class="mb-3">
                          <input id="easy-password" class="form-control" type="password" placeholder="간편 비밀번호"
                            required="">
                          <div class="invalid-feedback">간편 비밀번호를 입력하세요.</div>
                        </div>
                        <div id="alert" class="alert alert-dark d-none" role="alert">         
                        </div>

                        <a type="button" id="paySubmitBtn" class="btn btn-primary btn-shadow d-block w-100 mt-4"><i
                            class="ci-dollar-circle fs-lg me-2"></i>등록</a>
                      </div>
                    </div>
                  </div>
                </div>
               
        </section>
      </div>
    </div>
  </div>
</main>
<script src="/main/js/account-registration.js" defer></script>
<%- include('_includes/footer') %>
