<%- include('_includes/header') %>
  <section class="container pt-4 pb-5">
    <h2 class="h3 text-center">목록</h2>
    <a class="btn btn-primary" id="writeDocBtn">게시물작성</a>
    <div class="row pt-4 justify-content-center">
      <div class="col-sm-6">
        <ul class="list-unstyled" id="documentList">
        </ul>
      </div>
    </div>
  </section>
  <script src="../main/js/board.js" defer></script>
  <%- include('_includes/footer') %>