<%- include('_includes/header') %>
  <section class="container pt-4 pb-5">
    <h2 class="h3 text-center">F.A.Q.</h2>
    <div class="row pt-4">
      <div class="col-sm-6">
        <ul class="list-unstyled">
          <li class="mb-0"><a class="nav-link-style d-flex align-items-center border-bottom pb-3 mb-3" href="#"><i
                class="ci-book opacity-60 me-2"></i><span>How long will delivery take?</span></a></li>
          <li class="mb-0"><a class="nav-link-style d-flex align-items-center border-bottom pb-3 mb-3" href="#"><i
                class="ci-book opacity-60 me-2"></i><span>What payment methods do you accept?</span></a></li>
          <li class="mb-0"><a class="nav-link-style d-flex align-items-center border-bottom pb-3 mb-3" href="#"><i
                class="ci-book opacity-60 me-2"></i><span>Do you ship internationally?</span></a></li>
          <li class="mb-0"><a class="nav-link-style d-flex align-items-center border-bottom pb-3 mb-3" href="#"><i
                class="ci-book opacity-60 me-2"></i><span>Do I need an account to place an order?</span></a></li>
          <li class="mb-0"><a class="nav-link-style d-flex align-items-center border-bottom pb-3 mb-3" href="#"><i
                class="ci-book opacity-60 me-2"></i><span>How can I track my order?</span></a></li>
        </ul>
      </div>
    </div>
  </section>
  <%- include('_includes/footer') %>