<%- include('_includes/header') %>
  <div class="container py-5 mt-md-2 mb-2">
    <div class="row justify-content-center">
      <div class="col-lg-9">
        <h2 class="h4 pb-3" id="title">제목</h2>
        <i id="documentWriter" class="align-middle"></i>
        <div class="mt-4">
          <span class="fs-ms text-muted mb-5"><i id="docCreatedAt" class="ci-time align-middle me-2 mb-3"></i></span>
          <span class="fs-ms text-muted mb-5"><i id="docUpdatetedAt" class="ci-time align-middle me-2 mb-3"></i></span>
        </div>
        <p class="fs-md mt-4" id="content">내용</p>
        <div class="mt-5">
          <a class="btn btn-primary" id="editDocBtn">수정</a>
          <a class="btn btn-primary" id="deleteDocBtn">삭제</a>
        </div>
        </section>
      </div>
    </div>
  </div>

  <hr>
  <section class="row g-0">
    <div class="mx-auto py-lg-5" style="max-width: 35rem;" id="commentBox">
      <h2 class="h3 mb-2">댓글</h2>
      <p class="fs-sm text-muted pb-2">아래에 댓글을 작성하세요
      </p>
      <form class="needs-validation row g-4" method="post" novalidate="">
        <div class="col-12">
          <textarea class="form-control" id="contentInput" rows="4" placeholder="content" required=""></textarea>
        </div>
        <div class="col-12">
          <button class="btn btn-info btn-shadow mb-4" id="commentSubmitBtn" type="submit">등록</button>
        </div>
      </form>

      <hr id="commentContainer">
    </div>
    </div>
  </section>

  <!-- 게시물 수정 모달 -->
  <div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="editModalLabel">문서 수정</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form id="editForm">
            <div class="mb-3">
              <label for="editTitle" class="form-label">제목</label>
              <input type="text" class="form-control" id="editTitle" name="editTitle">
            </div>
            <div class="mb-3">
              <label for="editContent" class="form-label">내용</label>
              <textarea class="form-control" id="editContent" name="editContent" rows="4"></textarea>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
          <button type="button" class="btn btn-primary" id="saveChangesBtn">저장</button>
        </div>
      </div>
    </div>
  </div>

  <!-- 댓글 수정 모달 -->
  <div class="modal fade" id="editCommentModal" tabindex="-1" aria-labelledby="editCommentModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="editCommentModalLabel">댓글 수정</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form id="editCommentForm">
            <div class="mb-3">
              <label for="editCommentContent" class="form-label">댓글 내용</label>
              <textarea class="form-control" id="editCommentContent" name="editCommentContent" rows="4"></textarea>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
          <button type="button" class="btn btn-primary" id="saveCommentChangesBtn">저장</button>
        </div>
      </div>
    </div>
  </div>

  <%- include('_includes/footer') %>
    <script src="../main/js/document-detail.js" defer></script>
    <script src="../main/js/channel.js"></script>