<%- include('_includes/header') %>
  <div class="bg-secondary py-4">
    <div class="container d-lg-flex justify-content-between py-2 py-lg-3">
      <div class="order-lg-2 mb-3 mb-lg-0 pt-lg-2">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb flex-lg-nowrap justify-content-center justify-content-lg-start">
            <li class="breadcrumb-item"><a class="text-nowrap" href="index.html"><i class="ci-home"></i>Home</a></li>
            <li class="breadcrumb-item text-nowrap"><a href="help-topics.html">게시판</a>
            </li>
            <li class="breadcrumb-item text-nowrap active" aria-current="page">게시물 작성</li>
          </ol>
        </nav>
      </div>
      <div class="order-lg-1 pe-lg-4 text-center text-lg-start">
        <h1 class="h3 mb-0">게시물 작성</h1>
      </div>
    </div>
  </div>
  <div class="container py-5 mt-md-2 mb-md-4">
    <div class="row justify-content-center">
      <div class="col-lg-9">
        <form class="needs-validation" novalidate="">
          <div class="row gx-4 gy-3">
            <div class="col-sm-6">
              <label class="form-label" for="help-topic">제목<strong class="text-danger">*</strong></label>
              <input class="form-control" type="text" id="title">
            </div>
            <div class="col-12">
              <label class="form-label" for="help-message">내용<strong class="text-danger">*</strong></label>
              <textarea class="form-control" rows="6" required="" id="content"></textarea>
              <div class="invalid-feedback">Please provide a detailed description of your problem!</div>
            </div>
            <div class="col-sm-6">
              <label class="form-label" for="help-name">작성자 ID<strong class="text-danger">*</strong></label>
              <input class="form-control" type="text" required="" id="memberId">
              <div class="invalid-feedback">Please enter your name!</div>
            </div>
          </div>
          <div class="col-sm-6">
            <label class="form-label">비밀글<strong class="text-danger">*</strong></label>
            <input type="checkbox" id="isSecret" class="mt-4 mb-3" />
          </div>
          <div class="col-12 pt-2">
            <button id="submitDocBtn" class="btn btn-primary me-4" type="button">작성완료</button>
          </div>
      </div>
      </form>
    </div>
  </div>
  </div>
  <%- include('_includes/footer') %>
    <script src="../main/js/document-write.js" defer></script>