<%- include('_includes/header') %>
  <!-- Dashboard header-->
  <main>
    <div class="page-title-overlap bg-accent pt-4">
      <div
        class="container d-flex flex-wrap flex-sm-nowrap justify-content-center justify-content-sm-between align-items-center pt-2">
        <div class="d-flex align-items-center pb-3">
          <div class="img-thumbnail rounded-circle position-relative flex-shrink-0" style="width: 6.375rem">
            <img class="rounded-circle" src="/main/img/logo-dark.png" alt="Createx Studio" />
          </div>
          <div class="ps-3">
            <h3 class="text-light fs-lg mb-0">나중애</h3>
            <span class="d-block text-light fs-ms opacity-60 py-1">나의 중고 애물단지 - 중고거래 플랫폼</span>
          </div>
        </div>
      </div>
    </div>
    <div class="container mb-5 pb-3">
      <div class="bg-light shadow-lg rounded-3 overflow-hidden">
        <div class="row">
          <%- include('_includes/member-sidebar') %>
            <!-- Content-->
            <section class="col-lg-8 pt-lg-4 pb-4 mb-3">
              <div class="pt-2 px-4 ps-lg-0 pe-xl-5" id="product-area">
                <%- include('_includes/viewed-products') %>
                <!-- Title-->
                <div class="d-sm-flex flex-wrap justify-content-between align-items-center border-bottom">
                  <h2 class="h3 py-2 me-2 text-center text-sm-start">
                    내 상품<span class="my-products-number badge bg-faded-accent fs-sm text-body align-middle ms-2"></span>
                  </h2>
                  <div class="py-2">
                    <div class="d-flex flex-nowrap align-items-center pb-3">
                      <label class="form-label fw-normal text-nowrap mb-0 me-3" for="sorting">정렬</label>
                      <label class="form-label fw-normal text-nowrap mb-0 me-2" for="sorting">카테고리 별:</label>
                      <select class="form-select me-2" id="mycategoryList">
                        <option>전체</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
            </section>
        </div>
      </div>
    </div>
  </main>
  <script src="/main/js/my-products.js" defer></script>
  <script src="../main/js/viewed-products.js"></script>
  <script src="../main/js/channel.js"></script>
  <%- include('_includes/footer') %>