<head>
  <link rel="stylesheet" media="screen" href="/main/vendor/lightgallery/css/lightgallery-bundle.min.css" />
</head>
<%- include('_includes/header') %>
  <main>
    <!-- Page Title-->
    <div class="page-title-overlap bg-accent pt-4">
      <div class="container d-lg-flex justify-content-between py-2 py-lg-3">
        <div class="order-lg-2 mb-3 mb-lg-0 pt-lg-2">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb breadcrumb-light flex-lg-nowrap justify-content-center justify-content-lg-start">
              <li class="breadcrumb-item">
                <a class="text-nowrap" href="index.html"><i class="ci-home"></i>Home</a>
              </li>
              <li class="breadcrumb-item text-nowrap"><a href="marketplace-category.html">Market</a></li>
              <li class="breadcrumb-item text-nowrap active" aria-current="page">Single Item</li>
            </ol>
          </nav>
        </div>
        <div class="order-lg-1 pe-lg-4 text-center text-lg-start">
          <h1 class="h3 text-light mb-0"></h1>
        </div>
      </div>
    </div>
    <!-- Shadow box-->
    <section class="container mb-3 pb-3">
      <div class="bg-light shadow-lg rounded-3 overflow-hidden">
        <div class="row">
          <!-- Content-->
          <section class="col-lg-8 pt-2 pt-lg-4 pb-4 mb-lg-3">
            <div class="pt-3 px-4 pe-lg-0 ps-xl-5">
              <!-- Product gallery-->
              <div class="gallery" id="product-gallery">
                <a class="gallery-item rounded-3 mb-grid-gutter"
                  data-sub-html='&lt;h6 class="fs-sm text-light"&gt;Simple iPhone X Mockups&lt;/h6&gt;'><img
                    alt="Gallery preview" id="product-image" /><span class="gallery-item-caption">
                    </span></a>
                <div class="row" id="small-image-gallery"></div>
              </div>
              <!-- Wishlist + Sharing-->
              <div class="d-flex flex-wrap justify-content-between align-items-center border-top pt-3">
                <div class="py-2 me-2">
                  <button class="btn btn-outline-accent" type="button" id="pickbutton"><i id="likeColor"
                      class="ci-star-filled fs-lg me-2"></i>찜 하기</button>
                </div>
                <div class="py-2">
                  <i class="ci-share-alt fs-lg align-middle text-muted me-2"></i><a
                    class="btn-social bs-outline bs-facebook bs-sm ms-2" href="#"><i class="ci-facebook"></i></a><a
                    class="btn-social bs-outline bs-twitter bs-sm ms-2" href="#"><i class="ci-twitter"></i></a><a
                    class="btn-social bs-outline bs-pinterest bs-sm ms-2" href="#"><i class="ci-pinterest"></i></a><a
                    class="btn-social bs-outline bs-instagram bs-sm ms-2" href="#"><i class="ci-instagram"></i></a>
                </div>
              </div>
            </div>
          </section>
          <!-- Sidebar-->
          <aside class="col-lg-4 ps-xl-5">
            <hr class="d-lg-none" />
            <div class="bg-white h-100 p-4 ms-auto border-start">
              <div class="px-lg-2">
                <div class="accordion accordion-flush" id="licenses">
                  <div class="accordion-item border-bottom">
                    <div class="accordion-header d-flex justify-content-between align-items-center py-3">
                      <div class="form-check" data-bs-toggle="collapse" data-bs-target="#standard-license">
                        <!-- <input class="form-check-input" type="radio" name="license" id="license-std" checked /> -->
                        <!-- <label class="form-check-label fw-medium text-dark" for="license-std">가격</label> -->
                        <h2 class="mb-0 fw-normal" id="product-name">제목</h2>
                        <br />
                        <h3 class="mb-0 text-accent fw-normal" id="product-price"></h3>
                      </div>
                    </div>
                  </div>
                </div>
                <hr />
                <!-- <button class="btn btn-primary btn-shadow d-block w-100 mt-4" type="button"><i class="ci-cart fs-lg me-2"></i>Add to Cart</button> -->
                <div class="bg-secondary rounded p-3 mt-4 mb-2">
                  <a class="d-flex align-items-center" href="#"><img class="rounded-circle" id="member-profile-image"
                      width="50" alt="" />
                    <div class="ps-2">
                      <span class="fs-ms text-muted">판매자</span>
                      <h6 class="fs-sm mb-0" id="member-nickname"></h6>
                    </div>
                  </a>
                </div>
                <%- include('_includes/viewed-products') %>
                <ul class="list-unstyled fs-sm">
                  <li class="d-flex justify-content-between mb-3 pb-3 border-bottom">
                    <span class="text-dark fw-medium mb-3">등록일</span><span id="resister" class="text-muted">April 27,
                      2019</span>
                  </li>
                  <li class="d-flex justify-content-between mb-3 pb-3 border-bottom">
                    <span class="text-dark fw-medium">최근 수정일</span><span id="updated" class="text-muted">February 13,
                      2019</span>
                  </li>
                  <li class="d-flex justify-content-between mb-3 pb-3 border-bottom">
                    <span class="text-dark fw-medium">카테고리</span><a class="product-meta" href="#"
                      id="small-category"></a>
                  </li>
                  </li>
                  <li class="d-flex justify-content-between mb-3 pb-3 border-bottom">
                    <span class="text-dark fw-medium">거래상태</span><a class="product-meta" id="productStatus"></a>
                  </li>
                  <!-- Block outline button -->
                  <button id="payButton" type="button" class="btn btn-outline-primary d-block w-100"
                    style="display: block;">결제하기</button>
                </ul>
              </div>
            </div>
          </aside>
        </div>
      </div>
    </section>
    <!-- Product description + Reviews + Comments-->
    <section class=" container mb-4 mb-lg-5">
      <!-- Nav tabs-->
      <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item"><a class="nav-link p-4 active" href="#details" data-bs-toggle="tab" role="tab">상세 정보</a>
        </li>
        <li class="nav-item"><a class="nav-link p-4" href="#reviews" data-bs-toggle="tab" role="tab">리뷰</a></li>
        <!-- <li class="nav-item"><a class="nav-link p-4" href="#comments" data-bs-toggle="tab" role="tab">댓글</a></li> -->
      </ul>
      <div class="tab-content pt-2">
        <!-- Product details tab-->
        <div class="tab-pane fade show active" id="details" role="tabpanel">
          <div class="row">
            <div class="col-lg-8">
              <p class="fs-md" id="product-content">
              </p>
            </div>
          </div>
        </div>
        <!-- Reviews tab-->
        <div class="tab-pane fade" id="reviews" role="tabpanel">
          <!-- Reviews-->

          <div class="row py-4">
            <!-- Reviews list-->
            <div class="col-md-7">

              <!-- Review-->
              <div class="product-review pb-4 mb-4 border-bottom">
                <div class="d-flex mb-3">
                  <div class="d-flex align-items-center me-4 pe-2">
                    <img class="rounded-circle" id="reviewer-profile-image" width="50" />
                    <div class="ps-3">
                      <h6 class="fs-sm mb-0" id="reviewer-nickname"></h6>
                      <span class="fs-ms text-muted" id="review-updated-at"></span>
                    </div>
                  </div>
                </div>
                <div id="review-content-wrapper">
                  <p class="fs-md mb-2" id="review-content"></p>
                </div>
                <div class="d-flex justify-content-end">
                  <button id="review-edit" type="button" class="btn btn-secondary btn-icon float-right">
                    <i class="ci-edit"></i>
                  </button>

                  <button id="review-delete" type="button" class="btn btn-outline-danger btn-icon float-right">
                    <i class="ci-trash"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>

  <script src="/main/js/product-detail.js" defer></script>
  <script src="/main/js/pick.add.delete.js" defer></script>
<script src="../main/js/viewed-products.js"></script>
  <script src="../main/js/channel.js"></script>
  <%- include('_includes/footer') %>