<%- include('_includes/header') %>

  <!-- Used for marketplace templates with filters on top-->
  <div class="bg-accent pt-4 pb-5">
    <div class="container pt-2 pb-3 pt-lg-3 pb-lg-4">
      <div class="d-lg-flex justify-content-between pb-3">
        <div class="order-lg-2 mb-3 mb-lg-0 pt-lg-2">
          <nav aria-label="breadcrumb">

          </nav>
        </div>
        <div class="order-lg-1 pe-lg-4 text-center text-lg-start">
          <h4 class="h4 text-light mb-0">현재 판매중인 상품들을 둘러보세요!</h4>
        </div>
      </div>
    </div>
  </div>
  <div class="container pb-5 mb-2 mb-md-4">
    <!-- Toolbar-->
    <div class="bg-light shadow-lg rounded-3 mt-n5 mb-4">
      <div class="d-flex align-items-center ps-2">
        <!-- Search-->
        <div class="input-group"><i
            class="ci-search position-absolute top-50 start-0 translate-middle-y fs-md ms-3"></i>
          <input class="form-control border-0 shadow-none" type="text" placeholder="상품명을 입력해주세요." id="searchInput">
        </div>
        <!-- 카테고리 대-->
        <div class="d-flex align-items-center">
          <div class="dropdown py-4 border-start"><a class="nav-link-style fs-md fw-medium dropdown-toggle p-4" href="#"
              data-bs-toggle="dropdown"><span class="d-inline-block py-1" style="font-size:14px;"
                id="searchLargeCategory">대분류</span></a>
            <ul class="dropdown-menu dropdown-menu-end" id="largeCategoryList">
            </ul>
          </div>
        </div>
        <!-- 카테고리 중-->
        <div class="d-flex align-items-center">
          <div class="dropdown py-4 border-start"><a class="nav-link-style fs-md fw-medium dropdown-toggle p-4" href="#"
              data-bs-toggle="dropdown"><span class="d-inline-block py-1" style="font-size:14px;"
                id="searchMiddleCategory">중분류</span></a>
            <ul class="dropdown-menu dropdown-menu-end" id="middleCategoryList">
            </ul>
          </div>
        </div>
        <!-- 카테고리 소-->
        <div class="d-flex align-items-center">
          <div class="dropdown py-4 border-start"><a class="nav-link-style fs-md fw-medium dropdown-toggle p-4" href="#"
              data-bs-toggle="dropdown"><span class="d-inline-block py-1" style="font-size:14px;"
                id="searchSmallCategory">소분류</span></a>
            <ul class="dropdown-menu dropdown-menu-end" id="smallCategoryList">
            </ul>
          </div>
        </div>

      </div>
    </div>
    <!-- Products grid-->
    <div class="row pt-3 mx-n2" id="productList">
      <div id="noDataDiv" style="display:none;">검색 결과가 없습니다.</div>
    </div>
    <hr class="my-3">
    <!-- Pagination-->
    <nav class="d-flex justify-content-between pt-2" aria-label="Page navigation">
      <ul class="pagination">
        <li class="page-item"><a class="page-link" href="#" id="pagePrevBtn"><i class="ci-arrow-left me-2"></i>이전</a>
        </li>
      </ul>
      <ul class="pagination" id="pageLists">
        <li class="page-item d-sm-none"><span class="page-link page-link-static" id="mobileCurrentPage"></span></li>
      </ul>
      <ul class="pagination">
        <li class="page-item"><a class="page-link" aria-label="Next" id="pageNextBtn">다음<i
              class="ci-arrow-right ms-2"></i></a></li>
      </ul>
    </nav>
  </div>
  </main>
  <script src="/main/js/search.js"></script>
  <script src="../main/js/channel.js"></script>
  <%- include('_includes/footer') %>