<%- include('_includes/header') %>
<div class="container py-4 py-lg-5 my-4">
  <div class="row">
    <div class="col-md-12">
      <div class="card border-0 shadow">
        <div class="card-body">

            <h2 class="h4 mb-3">회원가입</h2>
            <p class="fs-sm text-muted mb-4">사용자의 정보를 모두 입력합니다.</p>
            <div class="needs-validation">
              <div class="row gx-4 gy-3">
                <div class="col-sm-12">
                  <label class="form-label" for="email">이메일 주소</label>
                  <input class="form-control" type="email" id="email" placeholder="hongkildong@korea.co.kr" maxlength="50">
                </div>
                <div class="col-sm-6">
                  <label class="form-label" for="name">이름</label>
                  <input class="form-control" type="text" id="name" placeholder="홍길동" maxlength="5">
                </div>
                <div class="col-sm-6">
                  <label class="form-label" for="nickname">닉네임</label>
                  <input class="form-control" type="text" id="nickname" placeholder="꾸러기" maxlength="10">
                </div>
                <div class="col-sm-6">
                  <label class="form-label" for="password">패스워드</label>
                  <input class="form-control" type="password" id="password" placeholder="••••••••" maxlength="20">
                </div>
                <div class="col-sm-6">
                  <label class="form-label" for="confirmPassword">확인 패스워드</label>
                  <input class="form-control" type="password" id="confirmPassword" placeholder="••••••••" maxlength="20">
                </div>
                <div class="col-sm-6">
                  <label class="form-label" for="address">주소</label>
                  <input class="form-control" type="text" id="address" readonly placeholder="서울특별시 용산구 한강대로 306">
                </div>
                <div class="col-sm-6">
                  <label class="form-label" for="subAddress">상세 주소</label>
                  <input class="form-control" type="text" id="subAddress" placeholder="우리아파트 101동 201호">
                </div>
                <div class="col-sm-6">
                  <label class="form-label" for="tel">휴대폰 번호</label>
                  <input class="form-control" type="tel" placeholder="010-1234-5678" id="tel" oninput="autoHyphen2(this)" maxlength="13">
                </div>
                <div class="col-12 text-end">
                  <button class="btn btn-primary" id="signupBtn"><i class="ci-user me-2 ms-n1"></i>등록</button>
                </div>
              </div>
            </div>

        </div>
      </div>
    </div>

  </div>
</div>
<!--Project JS-->
<script src="/main/js/signup.js" defer></script>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
</main>
<%- include('_includes/footer') %>