<%- include('_includes/header') %>
<!-- Dashboard header-->
<main>
  <div class="page-title-overlap bg-accent pt-4">
    <div class="container d-flex flex-wrap flex-sm-nowrap justify-content-center justify-content-sm-between align-items-center pt-2">
      <div class="d-flex align-items-center pb-3">
        <div class="img-thumbnail rounded-circle position-relative flex-shrink-0" style="width: 6.375rem">
          <img class="rounded-circle" src="/main/img/marketplace/account/avatar.png" alt="Createx Studio" />
        </div>
        <div class="ps-3">
          <h3 class="text-light fs-lg mb-0">Createx Studio</h3>
          <span class="d-block text-light fs-ms opacity-60 py-1">Member since November 2019</span>
        </div>
      </div>
      <div class="d-flex">
        <div class="text-sm-end me-5">
          <div class="text-light fs-base">Total sales</div>
          <h3 class="text-light">426</h3>
        </div>
        <div class="text-sm-end">
          <div class="text-light fs-base">Seller rating</div>
          <div class="star-rating">
            <i class="star-rating-icon ci-star-filled active"></i><i class="star-rating-icon ci-star-filled active"></i
            ><i class="star-rating-icon ci-star-filled active"></i><i class="star-rating-icon ci-star-filled active"></i><i class="star-rating-icon ci-star"></i>
          </div>
          <div class="text-light opacity-60 fs-xs">Based on 98 reviews</div>
        </div>
      </div>
    </div>
  </div>
  <div class="container mb-5 pb-3">
    <div class="bg-light shadow-lg rounded-3 overflow-hidden">
      <div class="row">
        <!-- Sidebar-->
        <%- include('_includes/member-sidebar') %>
        <!-- Content-->
        <section class="col-lg-8 pt-lg-4 pb-4 mb-3">
          <div class="pt-2 px-4 ps-lg-0 pe-xl-5" id="product-area">
            <!-- Title-->
            <div class="d-sm-flex flex-wrap justify-content-between align-items-center border-bottom">
              <h2 class="h3 py-2 me-2 text-center text-sm-start">
                구매내역<span class="my-products-number badge bg-faded-accent fs-sm text-body align-middle ms-2"></span>
              </h2>

              <div class="py-2">
                <div class="d-flex flex-nowrap align-items-center pb-3">
                  <label class="form-label fw-normal text-nowrap mb-0 me-2" for="sorting">Sort by:</label>
                  <select class="form-select form-select-sm me-2" id="sorting">
                    <option>Date Created</option>
                    <option>Product Name</option>
                    <option>Price</option>
                    <option>Your Rating</option>
                    <option>Updates</option>
                  </select>
                  <button class="btn btn-outline-secondary btn-sm px-2" type="button"><i class="ci-arrow-up"></i></button>
                </div>
              </div>
            </div>
          </div>
          <section class="container mb-4 mb-lg-5">
            <!-- Nav tabs-->
            <ul class="nav nav-tabs nav-justified" role="tablist">
              <li class="nav-item"><a class="nav-link p-4 active" href="#trading" data-bs-toggle="tab" role="tab">거래중</a></li>
              <li class="nav-item"><a class="nav-link p-4" href="#trade-completed" data-bs-toggle="tab" role="tab">거래완료</a></li>
            </ul>
            <div class="tab-content pt-2">
              <!-- 거래중-->
              <div class="tab-pane fade show active" id="trading" role="tabpanel">
                <!-- 거래중인 상품 목록 -->
                <!-- <div id="buttons" class="d-flex justify-content-sm-start pt-3">
                  <button data-product-id="${id}" class="product-edit-button btn bg-faded-info btn-icon me-2" type="button" data-bs-toggle="tooltip" title="Edit">
                    <i class="ci-edit text-info"></i>
                  </button>
                  <button data-product-id="${id}" class="product-delete-button btn bg-faded-danger btn-icon" type="button" data-bs-toggle="tooltip" title="Delete">
                    <i class="ci-trash text-danger"></i>
                  </button>
                </div> -->
                <!-- <div class="row">
                  <div class="col-lg-8">
                    <p class="fs-md" id="product-content">Lorem ipsum</p>
                  </div>
                </div> -->
              </div>
              <!-- 거래완료-->
              <div class="tab-pane fade" id="trade-completed" role="tabpanel">
                <!-- 거래 완료 상품 목록-->
              </div>
            </div>
          </section>
        </section>
      </div>
    </div>
  </div>
</main>
<script src="/main/js/trade-history.js" defer></script>
<%- include('_includes/footer') %>
